* {
	margin:0; padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.wrap {
	padding: 2em 1em;
	width: 400px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media(min-width: 30em){
	.wrap{
		width: 490px;
	}
	.sudoku-board input {
		font-size: 24px;
		font-size: 1.5rem;
	}
	.sudoku-board .candidates {
		font-size: .8em;
	}
}

html,
body {
	height: 100%;
	position: relative;
	overflow: hidden;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}


/* kolorki za nocy */

body {
	background-image: linear-gradient(0, #000000, #555555);
}

.diff-title {
	font-size: 32px;
	color: #CCC;
}

.sudoku-board-cell input {
	background-image: linear-gradient(45deg, #454545, #707070);
	border: solid 1px #000;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #CCC;
}

.logo {
	height: 100px;
	width: 200px;
	margin: top;
    padding-left: 30%;
}

#sudoku {
	line-height: 0;
}

input, input:active {
	box-shadow: 0 0 3px black !important;
	-moz-box-shadow: 0 0 3px black !important;
	-webkit-box-shadow: 0 0 3px black !important;
}

/**
	bordery grubsze
*/
[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n+19):nth-of-type(-n+27),
[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n+46):nth-of-type(-n+54),
[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n+73):nth-of-type(-n+81) {
	border-bottom-width: 3px;
	border-bottom-color: #000;
}
[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n):nth-of-type(-n+9) {
	border-top-width: 3px;
	border-top-color: #000;
}
[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(3n) {
	border-right-width: 3px;
	border-right-color: #000;
}
[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(9n+1) {
	border-left-width: 3px;
	border-left-color: #000;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }